@import "partials/variables";
@import "partials/container";
@import "partials/navbar";
@import "partials/other";
@import "partials/panel";
@import "partials/profile";
@import "partials/scrollspy";
@import "partials/custom";
@import "partials/responsive";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

* {
	 font-family: sans-serif !important;
}
