<div class="neo-Panel">
      <div class="neo-Panel-heading">
        <div class="row">
          <div class="col-xs-8 col-md-10">
            <h3 class="neo-Panel-title"><%= detailItems[i].title %></h3>
          </div>
          <div class="col-xs-4 col-md-2">
            <a href="<%= detailItems[i].moreInfoLink %>" class="neo-Panel-moreinfolink">Read More</a>
          </div>
        </div>        
      </div>
      <div class="neo-Panel-body">
        <p>
          <%= detailItems[i].shortDescription %>
        </p>
      </div>
</div>