 <div class="container neo-Container neo-Container--padded neo-Container-paddedTop">
    <div class="neo-ProileContainer neo-Container--padded">
      <div class="row neo-Container--padded">
        <div class="col-md-6 neo-ProileContainer-pic ">
          <div class="neo-Container--padded neo-Container--zeroPaddingTop"> 
            <img class="neo-Profile-pic" src="<%= profilePic %>"/>
          </div>
        </div>
        <div class="col-md-6 neo-ProileContainer-content">
          <div class="neo-Container--padded">
            <h1>About me</h1>
            <hr/>
          <p>
            <%= aboutMe %>
          </p>
          <a class="btn btn-primary btn-sm neo-Button-brown" href="pages/my%20work.html">Go to My work</a> 
          </div>
        </div>
      </div>
    </div>
  </div>