.neo-Container{
  background-color: $neo-White;
  margin-bottom:10px;
}

.neo-Container:last-child{
  margin-bottom:0;
}


.neo-Container--padded {
  padding: 10px 20px;
}

.neo-Container-paddedTop {
  padding-top: 20px;
}