.neo-Body {
  background-color: $neo-BodyColor;
  margin-top: $neo-NavbarHeight-xs;    
}

.neo-Button-brown {
  background: $neo-Brown !important;
  border-color: $neo-Brown !important;
  border-radius: 0;
}

.neo-BoxShadow {
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
