.neo-Panel {
  background-color: $neo-GreyLight;
  padding: 10px;
  margin-bottom:10px;
  
  .neo-Panel-heading {
    border-bottom: 1px solid $neo-Grey;
    
    .neo-Panel-title {
      margin-top:0;
    }
    
    .neo-Panel-moreinfolink {
      color: $neo-Orange;
    }
  }
  
  .neo-Panel-body {
    padding-top: 10px;
  }
}