.neo-ProileContainer {
 
  margin: 0 auto;
  .neo-ProileContainer-pic {
    img {
      display:block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .neo-ProileContainer-content {
    background-color: $neo-GreyLight;
    
    h1 {
      margin-top: 0;
    }
  }

  .neo-Container--zeroPaddingTop {
    padding-top: 0 !important;
  }
}