.neo-ProileContainer {
 
  margin: 0 auto;
  .neo-ProileContainer-pic {
    img {
      display:block;
      margin: 0 auto;
      width: 250px;
      height: 320px;
    }
  }
  .neo-ProileContainer-content {
    background-color: $neo-GreyLight;
    
    h1 {
      margin-top: 0;
    }
  }
}