$neo-Grey= #9B9B9B;
$neo-Green= #417505;
$neo-Purple= #BD10E0;
$neo-DarkGrey= #4A4A4A;
$neo-GreyLight= #f5f5f5;
$neo-White= #ffffff;
$neo-Orange= #f47421;
$neo-Brown= #8b572a;

$neo-BodyColor= $neo-DarkGrey;
$neo-AciveNavLinkColor= $neo-Purple;
$neo-ActiveScrollSpyColor= $neo-Green;

$neo-NavbarHeight-xs = 50px;
$neo-NavbarHeight-m = 75px;
$neo-NavbarHeight-l = 100px;

$neo-BodyMarginTop-m = 90px;
$neo-BodyMarginTop-l = 120px;