<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../vendor/jquery/jquery-2.1.4.js"></script>
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../styles/css/main.css" rel="stylesheet" type="text/css" />
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title><%= pageTitle%></title>
</head>
<body class="neo-Body">
  <%- include partials/header.ejs %>
  <div class="container neo-Container neo-Container-paddedTop">
     <%- pageContent %> 
  </div>
</body>
</html>